<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{doctor.first_name}} Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <div class="d-flex justify-content-between" style="padding: 20px;">
    <a class="fs-3 fw-medium" style="text-decoration: none; color: white;">MediBook+</a>
    <div>
    <a href="{{ url_for('doctor_logout') }}" class="btn btn-primary fs-6 fw-medium">Logout</a>
    <a href="{{ url_for('doctor_update_profile') }}" class="btn btn-primary fs-6 fw-medium">Update Profile</a>
    </div>
  </div>
  <p class="fs-1 fw-medium" style="text-align: center; color: white;">MediBook Health System</p>
  <p class="fs-3 fw-medium" style="text-align: center; color: white;">Welcome {{doctor.first_name}}</p>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
  <p class="fs-3 fw-medium" style="text-align: center; color: white;">Your Fixed Appointments...</p>


  <table class="container table table-hover table-dark" style="margin-left: auto; margin-right: auto;">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Patient Number</th>
        <th>Appointed Date</th>
        <th scope="col" style="width: 200px; text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for appointment in appointments %}
      {% if appointment.status == 'accepted' %}
          <tr>
              <td>{{ appointment.patient.first_name }}</td>
              <td>{{ appointment.patient.phone_number }}</td>
              <td>{{ appointment.appointment_date }}</td>
              <td>
                <form method="POST">
                    <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                    {{ form.hidden_tag() }}
                    {{ form.action() }}
                    <input type="submit" value="Submit">
                </form>
            </td>
          </tr>
      {% endif %}
      {% endfor %}
  </tbody>
  </table>
  <p class="fs-3 fw-medium" style="text-align: center; color: white;">Appointment Requests for you...</p>

  <div class="table-responsive">
    <table class="container table table-hover table-dark" style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Patient ID</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Phone No</th>
                <th scope="col">Appointment Date</th>
                <th scope="col" style="width: 200px; text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for appointment in appointments %}
            {% if appointment.status == 'pending' %}
                <tr>
                    <td>{{ appointment.patient.id }}</td>
                    <td>{{ appointment.patient.first_name }}</td>
                    <td>{{ appointment.patient.phone_number }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                            {{ form.hidden_tag() }}
                            {{ form.action() }}
                            <input type="submit" value="Submit">
                        </form>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
<style>
  body {
    background-size: cover;
    background-image: url('/static/images/bg2.jpg');
  }
</style>

</html>